html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, #Content, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

/* HTML5 display-role reset for older browsers */
#Content, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

.clear:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}
 
.clear {
   display: inline-block;
}
 
html[xmlns] .clear {
   display: block;
}
 
* html .clear {
   height: 1%;
   overflow: visible;
}

html {
	-webkit-text-size-adjust: none;
}

body {
	color: #1d1b40;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	background: #e9e6e6 url('../images/core/page_bkg.gif') repeat top left;
}

input,
select {
	border: 1px solid #ccc;
	padding: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #1d1b40;
	font-size: 14px;
}

button {
	font-family: Arial, Helvetica, sans-serif;
}

input[type='text'],input[type='button'], input[type='submit'] {
	-webkit-appearance: none;
}

a {
	outline: none;
	color: #454274;
	text-decoration: none;
}

a:hover {
	color: #454274;
	text-decoration: underline;
}

input.button,
button.button,
a.button {
	background: #1d1b40;
	color: #fff;
	font-size: 16px;
	padding: 10px 25px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	border-radius: 6px;
	display: inline-block;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
}

input:hover.button,
button:hover.button,
a:hover.button {
	background: #454274;
	text-decoration: none;
}

/* HEADER */
#Header {
	width: 100%;
	background: #3b3869 url('../images/core/header_bkg.jpg') repeat-x bottom left;
	padding: 0 0 6px 0;
}

#Header #HeaderContent {
	width: 960px;
	margin: 0 auto;
	padding: 15px 0;
	position: relative;
	z-index: 1;
}

#Header #HeaderContent img#LogoText {
	position: relative;
	top: -6px;
}

/* HEADER -> Main Nav */

#Header #MainNav {
	width: 100%;
	margin: 0;
	padding: 3px 0 0 0;
	background: #1c193e url('../images/core/nav_bkg.jpg') repeat-x top left;
}

#Header #MainNav ul {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#Header #MainNav ul li {
	margin: 0 0 0 -4px;
	padding: 0;
	list-style-type: none;
	text-align: center;
	display: inline-block;
}

#Header #MainNav ul li a {
	display: inline-block;
	margin: 0;
	padding: 13px 12px;
	list-style-type: none;
	text-align:  center;
	font-size: 14px;
	font-weight:  bold;
	color:  #fff;
	background: url('../images/core/nav_sep.gif') no-repeat bottom right;
}

#Header #MainNav ul li a:hover {
	text-decoration: none;
}

#Header #MainNav ul li.last a {
	background: none;
}

#Header #MainNav ul li.selected a,
#Header #MainNav ul li.selected a:hover {
	background: #454274;
	color: #fff;
}

#Header #MainNav #ShowMenuButton {
	display: none;
}

/* #Header -> Members Nav */

#Header #MembersNav {
	float: left;
	display: inline;
	position: absolute;
	z-index: 2;
	top: 12px;
	right: 0;
	background: #454274;
	padding: 6px 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
}

#Header #MembersNav span {
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	margin: 8px 14px 0 0;
	float: left;
	display: inline;
}

#Header #MembersNav button {
	float: left;
	display: inline;
	font-size: 12px;
	color: #1d1b40;
	background: #f3d93c;
	padding: 6px 10px;
	margin: 0;
	font-weight: bold;
	border: none;
	cursor: pointer;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
}

#Header #MembersNav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	display: inline;
}

#Header #MembersNav ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	float: left;
	display: inline;
}

#Header #MembersNav ul li a {
	float: left;
	display: inline;
	margin: 8px 8px 0 0;
	padding: 0 8px 0 0;
	list-style-type: none;
	font-size: 12px;
	color:  #fff;
	border-right: 1px solid #fff;
}

#Header #MembersNav #MembersNavLogIn {
	position: relative;
	z-index: 1;
	width: 100%;
	float: left;
	display: inline;
}

#Header #MembersNav #MembersNavLogIn form {
	position: absolute;
	top: -4px;
	right: 0px;
	background: #f3d93c;
	width: 280px;
	padding: 14px;
	font-size: 12px;
	float: right;
	display: none;
	border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	-webkit-border-radius: 6px 0 6px 6px;
	-o-border-radius: 6px 0 6px 6px;
	box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.25);
}

#Header #MembersNav #MembersNavLogIn form label {
	width: 80px;
	display: inline-block;
	margin-bottom: 8px;
}

#Header #MembersNav #MembersNavLogIn form input#OnlineBookingUsername,
#Header #MembersNav #MembersNavLogIn form input#OnlineBookingPassword {
	width: 186px;
	display: inline;
	margin-bottom: 8px;
}

#Header #MembersNav #MembersNavLogIn form input.button {
	font-size: 12px;
	padding: 6px 12px;
	float: right;
}

#Header #MembersNav #MembersNavLogIn form #MembersNavClose {
	font-size: 12px;
	font-weight: normal;
	float: right;
	outline: none;
	color: #454274;
	text-decoration: none;
}

#Header #MembersNav #MembersNavLogIn form #MembersNavClose:hover {
	color: #454274;
	text-decoration: underline;
}


#Header #MembersNav #MembersNavLogIn form #ForgotPassword {
	float: left;
	display: inline;
	margin-top: 6px;
}

#Header #MembersNav #MembersNavLogIn form #TermsBox {
	width: 278px; 
	height: 169px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 16px;
}

/* #Header -> Social Media */
#Header #SocialMedia {
	position: absolute;
	z-index: 1;
	top: 68px;
	right: 0;
}

#Header #SocialMedia #Header-SocialMedia-Facebook { float: left; display: block; margin-left: 4px; }
#Header #SocialMedia #Header-SocialMedia-Twitter { float: left; display: block; width: 55px; overflow: hidden; margin-left: 4px; }
#Header #SocialMedia #Header-SocialMedia-Google { float: left; display: block; }

/* #Header -> Hover and selected state */

#Header #MainNav ul li a:hover,
#Header #MembersNav ul li a:hover {
	color: #f3d93c;
}

/* #Footer */

#Footer {
	width: 100%;
	background: #1e1c3f url('../images/core/footer_bkg.jpg') repeat-x top left;
	padding: 8px 0;
	margin: 0;
	color: #fff;
	font-size: 11px;
}

#Footer #FooterContent {
	width: 960px;
	margin: 0 auto;
	padding: 15px 0;
	text-align: center;
}

#Footer #FooterContent ul {
	margin: 0 auto 4px auto;
	padding: 0;
	list-style-type: none;
	display: block;
}

#Footer #FooterContent ul.first,
#Footer #FooterContent ul.space {
	margin-bottom: 12px;
}

#Footer #FooterContent ul li {
	margin: 0 6px 0 -4px;
	padding: 0 6px 0 0;
	list-style-type: none;
	text-align: center;
	display: inline;
	border-right: 1px solid #fff;
}

#Footer #FooterContent ul li.first {
	border: none;
	font-weight: bold;
	margin: 0 8px 0 0;
	padding: 0;
}

#Footer #FooterContent ul li.last {
	border: none;
	margin: 0;
	padding: 0;
}

#Footer #FooterContent ul li a {
	display: inline;
	margin: 0;
	padding: 0;
	list-style-type: none;
	color:  #fff;
}

#Footer #FooterContent #AcceptLabel {
	position: relative;
	top: -4px;
	margin-right: 4px;
}

/* #Footer -> Hover state */

#Footer #FooterContent a:hover {
	color: #f3d93c;
}

/* IE6 MESSAGE */
#IEMessage {
	width: 906px;
	margin: 0 auto;
	background: #f3d93c;
	padding: 25px;
	margin-top: 25px;
	border: 2px solid #1d1b40;
	position: relative;
}

#IEMessage .heading {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -1px;
	word-spacing: 0.15em;
	margin-bottom: 16px;
}

#IEMessage p {
	margin: 0;
}

#IEMessage button {
	width: 19px;
	height: 19px;
	background: url('../images/misc/ie6_close.gif') no-repeat top left;
	border: none;
	text-indent: -9999px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

/* MAIN PAGE CONTENT */

h1 {
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -1px;
	word-spacing: 0.25em;
	margin-bottom: 16px;
}

h2 {
	font-size: 25px;
	line-height: 28px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -1px;
	word-spacing: 0.15em;
	margin-bottom: 16px;
}

h3 {
	font-size: 20px;
	line-height: 25px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -1px;
	word-spacing: 0.15em;
	margin-bottom: 16px;
}

h4 {
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -1px;
	word-spacing: 0.15em;
	margin-bottom: 16px;
}


p {
	line-height: 18px;
	margin-bottom: 20px;
}

#Content {
	width: 960px;
	margin: 0 auto;
	padding: 25px 0;
}

#Content ul {
	line-height: 20px;
	margin: 0 0 16px 16px;
}

#Content .contentFeature {
	background: url('../images/core/highlight_bkg.gif') repeat top left;
	padding: 30px;
	display: block;
}

#Content .highlightContent {
	background: url('../images/core/feature_bkg.gif') repeat top left;
	padding: 30px;
	display: block;
	clear: both;
}

#Content .textCenter {
	text-align: center;
}

#Content .price {
	font-weight: bold;
	font-size: 25px;
	margin-top: 4px;
}

#Content .pdf {
	background: url('../images/misc/pdf.gif') no-repeat top left;
	padding-left: 30px;
	display: block;
	text-align: left;
}

#Content .twoColForm.contentFeature {
	margin-bottom: 40px;
}

#Content .utilityCol .contentFeature,
#Content .utilityCol .highlightContent {
	margin-bottom: 25px;
}

#Content .utilityCol .col {
	float: left; 
	display: inline; 
	width: 302px; 
	margin-right: 25px;
}

#Content .utilityCol .col.last {
	margin-right: 0;
}

#Content .formCol .contentFeature,
#Content .formCol .highlightContent {
	margin-bottom: 1px;
}

#Content .formCol table th {
	text-align: left;
}

#Content .formCol table td label {
	margin: 0;
	padding: 0;
}

#Content .formCol table td input {
	width: 70%;;
	margin-bottom: 0;
}

#Content .twoColForm label,
#Content .formCol label {
	display: block;
	margin-bottom: 4px;
}

#Content .twoColForm select,
#Content .formCol select {
	display: block;
	width: 100%;
	margin-bottom: 4px;
}

#Content .twoColForm input,
#Content .formCol input {
	display: block;
	width: 97%;
	margin-bottom: 4px;
}

#Content .formCol #AccountsTotalContent {
	display: none;
}

#Content .formCol input.button {
	margin-bottom: 20px;
}

#Content .twoColForm input.button {
	float: left;
	clear: both;
	display: inline;
	width: auto;
	margin: 10px 20px 0 0;
}

#Content .twoColForm img.paymentOptions {
	float: left;
	margin: 24px 0 0 0;
}

#Content .formColsContainer {
	float: left;
	display: block;
	width: 100%;
}

#Content .smallText {
	font-size: 12px;
}

#Content .noBottomMargin {
	margin-bottom: 0;
}


#Content .formCol .twoCol {
	float: left;
	width: 50%;
	display: inline;
	margin-right: 0;
	vertical-align: bottom;
}

#Content .formCol .price {
	float: left;
	width: 50%;
	text-align: right;
}

#Content .mainFeature {
	width: 960px;
	height: 413px;
	margin-bottom: 40px;
	position: relative;
	background: url('../images/core/feature_bkg.gif') repeat top left;
}

#Content .mainFeature h2 {
	font-size: 24px;
	line-height: 24px;
	font-weight: normal;
	margin-bottom: 16px;
	text-transform: none;
	letter-spacing: 0;
	word-spacing: 0;
}

#Content .mainFeature .mainFeatureContent {
	width: 370px;
	position: absolute;
	top: 40px;
	left: 542px;
}

#Content .mainFeature .mainFeatureContent h1 {
	font-size: 48px;
	line-height: 48px;
	letter-spacing: -2px;
	word-spacing: 0.15em;
}

#Content .mainFeature .mainFeatureImages {
	position: absolute;
	float: left;
	display: inline;
	background: url('../images/core/feature_img_frame.jpg') no-repeat top left;
	width: 439px;
	height: 440px;
	top: -18px;
	left: 36px;
}

#Content .mainFeature .mainFeatureImages img {
	margin: 36px 51px;
}

#Content .largeCol {
	float: left;
	display: inline;
	width: 614px;
	margin: 0 40px 40px 0;
}

#Content .rightImage {
	float: right;
	display: inline;
	background: #fff;
	padding: 5px;
	margin: 0 0 25px 25px;
	border: 1px solid #c5c3c3;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

#Content .leftImage {
	float: left;
	display: inline;
	background: #fff;
	padding: 5px;
	margin: 0 25px 25px 0;
	border: 1px solid #c5c3c3;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

#Content .imageBorder {
	display: inline;
	background: #fff;
	padding: 5px;
	margin: 0 0 25px 25px;
	border: 1px solid #c5c3c3;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

#Content .heroImage {
	display: block;
	background: #fff;
	padding: 6px;
	margin: 0 auto 25px auto;
	text-align: center;
	border: 1px solid #c5c3c3;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

#Content .twoCol {
	float: left;
	display: inline;
	width: 47%;
	margin-right: 3%;
}

#Content .largeCol .teaserBox img {
	float: left;
	display:  inline;
	background: #fff;
	padding: 5px;
	border: 1px solid #c5c3c3;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

#Content .largeCol .teaserBox {
	border-bottom: 1px solid #c3c2bf;
	padding: 0 0 40px 0;
	margin-bottom: 40px;
}

#Content .largeCol .last {
	border-bottom: none;
	padding: 0;
	margin-bottom: 0;
}

#Content .largeCol .teaserContent {
	float: left;
	display: inline;
	width: 306px;
	margin: 0 0 0 40px;
}


#Content .smallCol {
	float: left;
	display: inline;
	width: 306px;
	margin: 0 0 40px 0;
}

#Content #PageLogInForm input[type='text'],
#Content #PageLogInForm input[type='password'] {
	font-size: 14px;
	padding: 8px;
	margin: 4px 25px 20px 0;
	width: 350px;
	clear: both;
	display: block;
}

#Content #PageLogInForm input[type='submit'] {
	margin-right: 16px;
}

#Content #PageLogInForm #PageLogInTerms {
	float: right;
	width: 450px;
	height: 168px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: -130px;
}

#Content .errorMessage {
	display: none;
	border: 2px solid #c00;
	color: #c00;
	background: #F1E7E7;
	font-size: 12px;
	padding: 8px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	margin-bottom: 8px; 
}

#Content ul.aircraftGallery {
	list-style-type: none;
	margin: 0 0 25px 0;
}

#Content ul.aircraftGallery li {
	display: inline;
}

#Content ul.aircraftGallery li a {
	display: inline;
	border: none;
}

#Content ul.aircraftGallery li a img {
	margin: 0 4px 8px 4px;
}

#Content ul#FAQ {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#Content ul#FAQ li {
	background: url('../images/core/question.gif') no-repeat top left;
	padding: 20px 0 20px 98px;
}

#Content ul#FAQ h2 {
	text-transform: none;
	font-size: 20px;
	line-height: 24px;
}

#Content ul#FAQ p {
	background: url('../images/core/answer.gif') no-repeat top left;
	padding-left: 60px;
}

#Content ul.twoColList {
	margin: 20px 0 0 0;
	padding: 0;
	list-style-type: none;
	float: left;
	display: block;
	width: 100%;
}

#Content ul.twoColList li {
	border-bottom: 1px solid #C3C2BF;
	float: left;
	display: block;
	width: 272px;
	height: 324px;
	overflow: hidden;
	padding: 0;
	margin: 0 16px 40px;
	text-align: center;
}

#Content ul.twoColList li h2 {
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	margin: 20px 0 8px 0;
	text-transform: none;
	letter-spacing: 0;
	word-spacing: 0;
	float: left;
	display: block;
	width: 100%;
}

#Content ul.twoColList li p {
	float: left;
	display: block;
	width: 100%;
}

#Content ul.twoColList li .leftImage {
	clear: both;
	margin-bottom: 0;
}

#Content ul.threeColList {
	margin: 20px 0 0 0;
	padding: 0;
	list-style-type: none;
	float: left;
	display: block;
	width: 100%;
}

#Content ul.threeColList li {
	border-bottom: 1px solid #C3C2BF;
	float: left;
	display: block;
	width: 172px;
	overflow: hidden;
	padding: 0;
	margin: 0 16px 40px;
	text-align: center;
}

#Content ul.threeColList li h2 {
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	margin: 20px 0 8px 0;
	text-transform: none;
	letter-spacing: 0;
	word-spacing: 0;
	float: left;
	display: block;
	width: 100%;
}

#Content ul.contentList {
	margin: 0 0 20px 0;
	padding: 0;
	list-style-type: none;
	float: left;
	display: block;
	width: 100%;
}

#Content ul.contentList li {
	border-bottom: 1px solid #C3C2BF;
	float: left;
	display: block;
	width: 100%;
	padding: 0 0 20px 0;
	margin: 20px 0;
}

#Content ul.contentList li h2,
#Content ul#WeatherLinks li h3  {
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	margin: 0 0 10px 0;
	text-transform: none;
	letter-spacing: 0;
	word-spacing: 0;
	word-wrap: break-word;
}

#Content ul.contentList li h3,
#Content ul#WeatherLinks li h4 {
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	margin: 0 0 20px 0;
	text-transform: none;
	letter-spacing: 0;
	word-spacing: 0;
	word-wrap: break-word;
}

#Content ul.contentList li .button {
	float: left;
	display: block;
	margin-bottom: 20px;
}

#Content ul.noBorderList {
	margin-bottom: 40px;
}

#Content ul.noBorderList li {
	text-align: left;
	border-bottom: none;
	margin-bottom: 10px;
	height: auto;
}

#Content .weatherData {
	margin-bottom: 40px;
}

#Content .weatherData h3 {
	margin-bottom: 4px;
}

#Content .weatherData h4 {
	margin-bottom: 0;
}

#Content ul.weatherForecast .weatherImage,
#Content .weatherData .weatherImage {
	margin-right: 20px;
	margin-bottom: 20px;
}

#Content ul.weatherForecast .weatherDesc,
#Content .weatherData .weatherDesc {
	float: left;
	margin-bottom: 20px;
	margin-top: 4px;
}


#Content .weatherData ul {
	float: left; 
	display: block; 
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#Content .bookingSystem ul {
	margin: 0;
}

#Content .bookingSystem ul li,
#Content .weatherData ul li {
	float: left; 
	display: block; 
	width: 50%;
	margin: 0;
	padding: 0;
}

#Content .bookingSystem ul.twoColList li {
	margin-bottom: 10px;
}

#Content ul.weatherForecast {
	float: left; 
	display: block; 
	width: 100%;
	list-style-type: none;
	margin: 20px 0;
	padding: 0;
}

#Content ul.weatherForecast li {
	float: left; 
	display: block; 
	width: 44%;
	height: 170px;
	padding: 0 0 40px 0;
	margin: 0 3% 40px 3%;
	border-bottom: 1px solid #C3C2BF;
}

#Content ul.weatherForecast li h3 {
	margin-bottom: 4px;
}

#Content ul.weatherForecast li h4 {
	font-size: 16px;
}

#Content ul.weatherForecast li p {
	float: left;
	margin-bottom: 0;
	width: 100%;
	display: block;
}

#Content #ContactDetails {
	margin-bottom: 20px;
	display: block;
	float: left;
	width: 100%;
}

#Content #ContactDetails h3 {
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	margin: 0 0 4px 0;
	text-transform: none;
	letter-spacing: 0;
	word-spacing: 0;
}

#Content #ContactDetails p {
	margin-bottom: 12px;
}

#Content ul#PreviousClubGrup li {
	height: 255px;
}

#Content ul#PreviousClubGrup li .leftImage {
	float: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#Content .centerMessage {
	float: left;
	display: block;
	width: 80%;
	padding: 0 10%;
	text-align: center;
	margin: 0 0 25px 0;
}

@media only screen and (max-width: 950px) {

	#Header #HeaderContent {
		width: 100%;
		text-align: center;
		padding-bottom: 0;
		margin-bottom: -8px;
	}

	#Header #HeaderContent #Logo {
		margin-bottom: 15px;
		display: inline-block;
		width: 100%;
	}

	#Header #HeaderContent img#LogoText {
		display: none;
	}

	#Header #MainNav #ShowMenuButton {
		display: inline-block;
		float:  left;
		text-align: center;
		width: 100%;
		padding: 10px 0;
		font-size: 16px;
		font-weight: bold;
		color: #fff;
		background: none;
		border: none;
		text-transform: uppercase;
		cursor: pointer;
	}

	#Header #MainNav #ShowMenuButton a#Menu {
		display: block;
		padding: 10px 25px;
		color: #fff;
		font-weight: bold;
		font-size: 20px;
		text-decoration: none;
		text-align: center;
	}
	
	#Header #MainNav #ShowMenuButton .icon {
		width: 15px;
		height: 15px;
		display: inline-block;
		position: relative;
		top: 1px;
		margin-left: 4px;
	}
	
	#Header #MainNav #ShowMenuButton .icon.plus {
		background: url('../images/core/plus_minus.gif') no-repeat 0 0;
	}
	
	#Header #MainNav #ShowMenuButton .icon.minus {
		background: url('../images/core/plus_minus.gif') no-repeat -15px 0;
	}

	#Header #MainNav {
		display: inline-block;
	}

	#Header #MainNav ul {
		width: 100%;
		text-align: left;
		display: none;
	}

	#Header #MainNav ul li {
		display: inline-block;
		width: 50%;
	}

	#Header #MainNav ul li a {
		display: block;
		background: none;
		font-weight: normal;
		text-transform: uppercase;
		border-bottom: 1px solid #454274;
		margin: 0 20px;
	}

	#Header #MainNav ul li.last a {
		border-bottom: none;
		margin-bottom: 20px;
	}

	#Header #MainNav ul li.selected a,
	#Header #MainNav ul li.selected a:hover {
		background: none;
	}
	
	#Header #MembersNav {
		position: static;
		display: inline-block;
		border-radius: 6px 6px 0 0;
		-moz-border-radius: 6px 6px 0 0;
		-webkit-border-radius: 6px 6px 0 0;
		-o-border-radius: 6px 6px 0 0;
		float: none;
	}

	#Header #MembersNav ul {
		text-align: center;
		display: inline-block;
	}

	#Header #MembersNav span,
	#Header #MembersNav ul li,
	#Header #MembersNav ul li a {
		text-align: center;
		display: inline-block;
	}


	#Header #MembersNav #MembersNavLogIn form {
		z-index: 2;
	}

	#Header #MembersNav #MembersNavLogIn form label {
		text-align: left;
	}

	#Header #SocialMedia {
		display: none;
	}

	#Footer #FooterContent {
		width: 90%;
		padding-left: 5%;
		padding-right: 5%;
	}

	#Content {
		width: 100%;
	}

	#Content .mainFeature {
		width: auto;
		height: auto;
		display:  block;
		padding: 40px;
		margin-top: -28px;
	}

	#Content .mainFeature .mainFeatureImages {
		display: none;
	}

	#Content .mainFeature .mainFeatureContent {
		width: 100%;
		position: static;
	}

	#Content .largeCol,
	#Content .smallCol {
		width: 90%;
		padding: 0 5%;
	}

	#Content .utilityCol .col {
		width: 90%; 
		padding: 0 5%;
		margin-right: 0;
	}

	#Content .largeCol .last {
		padding-bottom: 40px;
	}
	
	#Content .largeCol .teaserBox {
		border-bottom: 1px solid #c3c2bf;
	}

	#Content .largeCol .teaserContent {
		float: none;
		margin: 0;
		padding: 0;
	}

	#Content .largeCol a.teaserImage {
		float: none;
		display: block;
	}

	#Content .largeCol a.teaserImage img {
		float: none;
		display: block;
		margin: 0 0 8px 0;
	}

	#Content #PageLogInForm input[type='text'],
	#Content #PageLogInForm input[type='password'] {
		width: 90%;
		margin-left: 0;
		margin-bottom: 20px;
	}

	#Content #PageLogInForm label {
		margin-bottom: 9px;
		float: left;
	}

	#Content #PageLogInForm #PageLogInTerms {
		float: none;
		width: 93%;
		margin-top: 16px;
		margin-bottom: 16px;
	}

	#Content #WeatherInfo {
		width: 100%;
		text-align: center;
	}

	#Content ul.threeColList,
	#Content ul.twoColList {
		float: none;
		display: inline-block;
	}

	#Content ul.twoColList li {
		float: none;
		display: inline-block;
		width: 100%;
		height: auto;
		padding: 0 0 20px 0;
		margin: 0 0 40px 0;
		text-align: center;
	}

	#Content ul.twoColList li h2 {
		float: none;
	}

	#Content ul.twoColList li p {
		float: none;
	}

	#Content ul.twoColList li .leftImage {
		float: none;
		clear: both;
		margin: 0;
	}

	#Content ul.noBorderList li {
		margin-bottom: 10px;
	}

}

@media only screen and (max-width: 850px) {

	#Content .teaserBox {
		padding-bottom: 0;
	}

	#Content .largeCol a.teaserImage {
		float: left;
		display: inline;
		margin: 0 25px 0 0;
	}

	#Content .largeCol a.teaserImage img {
		float: left;
		display: inline;
	}

	#Content .bookingSystem ul li,
	#Content .weatherData ul li {
		float: left; 
		display: block; 
		width: 100%;
		margin: 0;
		padding: 0;
	}

	#Content ul.weatherForecast li {
		width: 100%;
		height: auto;
		margin: 0 0 40px 0;
	}
}

@media only screen and (max-width: 650px) {

	#Content .heroImage {
		width: 95%;
		height: auto;
	}

}

@media only screen and (max-width: 540px) {
	#Content .largeCol a.teaserImage {
		float: none;
		display: block;
	}

	#Content .largeCol a.teaserImage img {
		float: none;
		display: block;
		margin: 0 0 25px 0;
	}

	#Content .rightImage {
		float: none;
		display: block;
		clear: both;
		text-align: left;
		margin: 0 0 16px 0;
	}

	#Content .twoCol {
		width: 100%;
		margin-right: 0;
	}

}

@media only screen and (max-width: 340px) {

	#Header #MainNav ul li a {
		margin: 0 10px;
		font-size: 12px;
	}

	#Header #MembersNav ul li {
		float: none;	
	}

	#Header #MembersNav ul li a:last-child {
		border-right: none;	
	}

	#Header #MembersNav span {
		display: none;
	}

	#Headernav#MembersNav #MembersNavLogIn form {
		top: -8px;
		right: 1%;
		background: #f3d93c;
		width: 94%;
		padding: 8px 2%;
		border-radius: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		-o-border-radius: 6px;
		box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.25);
		-webkit-box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.25);
		-o-box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.25);
	}

	#Footer #FooterContent ul {
		border-bottom: 1px solid #454274;
		margin-bottom: 8px;
		padding-bottom: 8px;
	}

	#Footer #FooterContent ul.first li {
		float: left;
		width: 100%;
		border-right: none;
	}

	#Footer #FooterContent ul li {
		float: left;
		width: 48%;
		border-right: none;
		margin: 0;
	}

	#Footer #FooterContent ul.first li a {
		padding: 0;
	}

	#Footer #FooterContent ul li a {
		display: block;
		padding: 8px;
		text-align: center;
	}

	#Footer #FooterContent ul li.first {
		float: left;
		width: 100%;
		border-right: none;
	}


	h1 {
		font-size: 38px;
		line-height: 38px;
	}

	#Content .mainFeature h2 {
		line-height: 28px;
	}

	#Content .mainFeature,
	#Content .highlightContent {
		padding: 20px;
	}

	#Content #BBCWeather {
		width: 100%;
		overflow: hidden;
		text-align: center;
	}

	#Content ul#PreviousClubGrup li {
		height: auto;
	}

}
