html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

.clear:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}
 
.clear {
   display: inline-block;
}
 
html[xmlns] .clear {
   display: block;
}
 
* html .clear {
   height: 1%;
   overflow: visible;
}

html {
	-webkit-text-size-adjust: none;
}

body {
	color: #1d1b40;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	background: #e9e6e6 url('../images/core/page_bkg.gif') repeat top left;
}

input,
select {
	border: 1px solid #ccc;
	padding: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #1d1b40;
}

input[type='text'],input[type='button'], input[type='submit'] {
	-webkit-appearance: none;
}

a {
	outline: none;
	color: #454274;
	text-decoration: none;
}

a:hover {
	color: #454274;
	text-decoration: underline;
}

input.button,
button.button,
a.button {
	background: #1d1b40;
	color: #fff;
	font-size: 16px;
	padding: 10px 25px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
}

input:hover.button,
button:hover.button,
a:hover.button {
	background: #454274;
	text-decoration: none;
}

/* HEADER */
header {
	width: 100%;
	background: #3b3869 url('../images/core/header_bkg.gif') repeat-x bottom left;
	padding: 0 0 6px 0;
}

header #HeaderContent {
	width: 960px;
	margin: 0 auto;
	padding: 15px 0;
	position:  relative;
}

header #HeaderContent img#LogoText {
	position: relative;
	top: -6px;
}

/* HEADER -> Main Nav */

header nav#MainNav {
	width: 100%;
	margin: 0;
	padding: 3px 0 0 0;
	background: #1c193e url('../images/core/nav_bkg.gif') repeat-x top left;
}

header nav#MainNav ul {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

header nav#MainNav ul li {
	margin: 0 0 0 -4px;
	padding: 0;
	list-style-type: none;
	text-align: center;
	display: inline-block;
}

header nav#MainNav ul li a {
	display: inline-block;
	margin: 0;
	padding: 13px 12px;
	list-style-type: none;
	text-align:  center;
	font-size: 14px;
	font-weight:  bold;
	color:  #fff;
	background: url('../images/core/nav_sep.gif') no-repeat bottom right;
}

header nav#MainNav ul li a:hover {
	text-decoration: none;
}

header nav#MainNav ul li.last a {
	background: none;
}

header nav#MainNav ul li.selected a,
header nav#MainNav ul li.selected a:hover {
	background: #454274;
	color: #fff;
}

header nav#MainNav #ShowMenuButton {
	display: none;
}

/* HEADER -> Members Nav */

header nav#MembersNav {
	float: left;
	display: inline;
	position: absolute;
	z-index: 2;
	top: 12px;
	right: 0;
	background: #454274;
	padding: 6px 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
}

header nav#MembersNav span {
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	margin: 8px 14px 0 0;
	float: left;
	display: inline;
}

header nav#MembersNav button {
	float: left;
	display: inline;
	font-size: 12px;
	color: #1d1b40;
	background: #f3d93c;
	padding: 6px 10px;
	margin: 0;
	font-weight: bold;
	border: none;
	cursor: pointer;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
}

header nav#MembersNav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	display: inline;
}

header nav#MembersNav ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	float: left;
	display: inline;
}

header nav#MembersNav ul li a {
	float: left;
	display: inline;
	margin: 8px 8px 0 0;
	padding: 0 8px 0 0;
	list-style-type: none;
	font-size: 12px;
	color:  #fff;
	border-right: 1px solid #fff;
}

header nav#MembersNav #MembersNavLogIn {
	position: relative;
	width: 100%;
	float: left;
	display: inline;
}

header nav#MembersNav #MembersNavLogIn form {
	position: absolute;
	top: -4px;
	right: 0px;
	background: #f3d93c;
	width: 280px;
	padding: 14px;
	font-size: 12px;
	float: right;
	display: none;
	border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	-webkit-border-radius: 6px 0 6px 6px;
	-o-border-radius: 6px 0 6px 6px;
	box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.25);
}

header nav#MembersNav #MembersNavLogIn form label {
	width: 80px;
	display: inline-block;
	margin-bottom: 8px;
}

header nav#MembersNav #MembersNavLogIn form input#OnlineBookingUsername,
header nav#MembersNav #MembersNavLogIn form input#OnlineBookingPassword {
	width: 186px;
	display: inline;
	margin-bottom: 8px;
}

header nav#MembersNav #MembersNavLogIn form input.button {
	font-size: 12px;
	padding: 6px 12px;
	float: right;
}

header nav#MembersNav #MembersNavLogIn form #MembersNavClose {
	font-size: 12px;
	font-weight: normal;
	float: right;
}



/* HEADER -> Social Media */
header #SocialMedia {
	position: absolute;
	z-index: 1;
	top: 68px;
	right: 0;
}

header #SocialMedia #Header-SocialMedia-Facebook { float: left; display: block; margin-left: 4px; }
header #SocialMedia #Header-SocialMedia-Twitter { float: left; display: block; width: 55px; overflow: hidden; margin-left: 4px; }
header #SocialMedia #Header-SocialMedia-Google { float: left; display: block; }

/* HEADER -> Hover and selected state */

header nav#MainNav ul li a:hover,
header nav#MembersNav ul li a:hover {
	color: #f3d93c;
}

/* FOOTER */

footer {
	width: 100%;
	background: #1e1c3f url('../images/core/footer_bkg.gif') repeat-x top left;
	padding: 8px 0;
	margin: 0;
	color: #fff;
	font-size: 11px;
}

footer #FooterContent {
	width: 960px;
	margin: 0 auto;
	padding: 15px 0;
	text-align: center;
}

footer #FooterContent ul {
	margin: 0 auto 4px auto;
	padding: 0;
	list-style-type: none;
	display: block;
}

footer #FooterContent ul.first {
	margin-bottom: 12px;
}

footer #FooterContent ul li {
	margin: 0 6px 0 -4px;
	padding: 0 6px 0 0;
	list-style-type: none;
	text-align: center;
	display: inline;
	border-right: 1px solid #fff;
}

footer #FooterContent ul li.first {
	border: none;
	font-weight: bold;
	margin: 0 8px 0 0;
	padding: 0;
}

footer #FooterContent ul li.last {
	border: none;
	margin: 0;
	padding: 0;
}

footer #FooterContent ul li a {
	display: inline;
	margin: 0;
	padding: 0;
	list-style-type: none;
	color:  #fff;
}

/* FOOTER -> Hover state */

footer #FooterContent a:hover {
	color: #f3d93c;
}

/* MAIN PAGE CONTENT */

h1 {
	font-size: 48px;
	line-height: 48px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -2px;
	word-spacing: 0.15em;
	margin-bottom: 16px;
}

h2 {
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -1px;
	word-spacing: 0.15em;
	margin-bottom: 16px;
}

p {
	line-height: 20px;
	margin-bottom: 16px;
}

article {
	width: 960px;
	margin: 0 auto;
	padding: 25px 0;
}

article .highlightContent {
	background: url('../images/core/feature_bkg.gif') repeat top left;
	padding: 30px;
	display: block;
	clear: both;
}

article .mainFeature {
	width: 960px;
	height: 413px;
	margin-bottom: 40px;
	position: relative;
	background: url('../images/core/feature_bkg.gif') repeat top left;
}

article .mainFeature h2 {
	font-size: 24px;
	line-height: 24px;
	font-weight: normal;
	margin-bottom: 16px;
	text-transform: none;
	letter-spacing: 0;
	word-spacing: 0;
}

article .mainFeature .mainFeatureContent {
	width: 370px;
	position: absolute;
	top: 40px;
	left: 542px;
}

article .mainFeature .mainFeatureImages {
	position: absolute;
	float: left;
	display: inline;
	background: url('../images/core/feature_img_frame.jpg') no-repeat top left;
	width: 439px;
	height: 440px;
	top: -18px;
	left: 36px;
}

article .mainFeature .mainFeatureImages img {
	margin: 36px 51px;
}

article .largeCol {
	float: left;
	display: inline;
	width: 614px;
	margin: 0 40px 40px 0;
}

article .largeCol img {
	float: left;
	display:  inline;
	background: #fff;
	padding: 5px;
	border: 1px solid #c5c3c3;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

article .largeCol .teaserBox {
	border-bottom: 1px solid #c3c2bf;
	padding: 0 0 40px 0;
	margin-bottom: 40px;
}

article .largeCol .last {
	border-bottom: none;
	padding: 0;
	margin-bottom: 0;
}

article .largeCol .teaserContent {
	float: left;
	display: inline;
	width: 306px;
	margin: 0 0 0 40px;
}


article .smallCol {
	float: left;
	display: inline;
	width: 306px;
	margin: 0 0 40px 0;
}

article #PageLogInForm input[type='text'],
article #PageLogInForm input[type='password'] {
	font-size: 14px;
	padding: 8px;
	margin: 0 25px 0 10px;
	width: 234px;
}


@media only screen and (max-width: 950px) {

	header #HeaderContent {
		width: 100%;
		text-align: center;
		padding-bottom: 0;
		margin-bottom: -8px;
	}

	header #HeaderContent #Logo {
		margin-bottom: 15px;
		display: inline-block;
		width: 100%;
	}

	header #HeaderContent img#LogoText {
		display: none;
	}

	header nav#MainNav #ShowMenuButton {
		display: inline-block;
		float:  left;
		text-align: center;
		width: 100%;
		padding: 10px 0;
		font-size: 16px;
		font-weight: bold;
		color: #fff;
		background: none;
		border: none;
		text-transform: uppercase;
		cursor: pointer;
	}

	header nav#MainNav #ShowMenuButton a#Menu {
		display: block;
		padding: 10px 25px;
		color: #fff;
		font-weight: bold;
		font-size: 20px;
		text-decoration: none;
		text-align: center;
	}
	
	header nav#MainNav #ShowMenuButton .icon {
		width: 15px;
		height: 15px;
		display: inline-block;
		position: relative;
		top: 1px;
		margin-left: 4px;
	}
	
	header nav#MainNav #ShowMenuButton .icon.plus {
		background: url('../images/core/plus_minus.gif') no-repeat 0 0;
	}
	
	header nav#MainNav #ShowMenuButton .icon.minus {
		background: url('../images/core/plus_minus.gif') no-repeat -15px 0;
	}

	header nav#MainNav {
		display: inline-block;
	}

	header nav#MainNav ul {
		width: 100%;
		text-align: left;
		display: none;
	}

	header nav#MainNav ul li {
		display: inline-block;
		width: 50%;
	}

	header nav#MainNav ul li a {
		display: block;
		background: none;
		font-weight: normal;
		text-transform: uppercase;
		border-bottom: 1px solid #454274;
		margin: 0 20px;
	}

	header nav#MainNav ul li.last a {
		border-bottom: none;
		margin-bottom: 20px;
	}

	header nav#MainNav ul li.selected a,
	header nav#MainNav ul li.selected a:hover {
		background: none;
	}
	
	header nav#MembersNav {
		position: static;
		display: inline-block;
		border-radius: 6px 6px 0 0;
		-moz-border-radius: 6px 6px 0 0;
		-webkit-border-radius: 6px 6px 0 0;
		-o-border-radius: 6px 6px 0 0;
		float: none;
	}

	header nav#MembersNav ul {
		text-align: center;
		display: inline-block;
	}

	header nav#MembersNav span,
	header nav#MembersNav ul li,
	header nav#MembersNav ul li a {
		text-align: center;
		display: inline-block;
	}


	header nav#MembersNav #MembersNavLogIn form {
		z-index: 2;
	}

	header #SocialMedia {
		display: none;
	}

	footer #FooterContent {
		width: 90%;
		padding-left: 5%;
		padding-right: 5%;
	}

	article {
		width: 100%;
	}

	article .mainFeature {
		width: auto;
		height: auto;
		display:  block;
		padding: 40px;
		margin-top: -28px;
	}

	article .mainFeature .mainFeatureImages {
		display: none;
	}

	article .mainFeature .mainFeatureContent {
		width: 100%;
		position: static;
	}

	article .largeCol,
	article .smallCol {
		width: 90%;
		padding: 0 5%;
	}

	article .largeCol .last {
		padding-bottom: 40px;
	}
	
	article .largeCol .teaserBox {
		border-bottom: 1px solid #c3c2bf;
	}

	article .largeCol .teaserContent {
		float: none;
		margin: 0;
		padding: 0;
	}

	article .largeCol a.teaserImage {
		float: none;
		display: block;
	}

	article .largeCol a.teaserImage img {
		float: none;
		display: block;
		margin: 0 0 25px 0;
	}

	article .largeCol img {
		margin-right: 25px;
		margin-bottom: 10px;
	}

	article #PageLogInForm input[type='text'],
	article #PageLogInForm input[type='password'] {
		width: 90%;
		margin-left: 0;
		margin-bottom: 20px;
	}

	article #PageLogInForm label {
		margin-bottom: 9px;
		float: left;
	}

	article #WeatherInfo {
		width: 100%;
		text-align: center;
	}

}

@media only screen and (max-width: 850px) {
	
	article .teaserBox {
		padding-bottom: 0;
	}

	article .largeCol a.teaserImage {
		float: left;
		display: inline;
		margin: 0 25px 0 0;
	}

	article .largeCol a.teaserImage img {
		float: left;
		display: inline;
	}
}

@media only screen and (max-width: 540px) {
	article .largeCol a.teaserImage {
		float: none;
		display: block;
	}

	article .largeCol a.teaserImage img {
		float: none;
		display: block;
		margin: 0 0 25px 0;
	}
}

@media only screen and (max-width: 340px) {

	header nav#MainNav ul li a {
		margin: 0 10px;
		font-size: 12px;
	}

	header nav#MembersNav ul li {
		float: none;	
	}

	header nav#MembersNav ul li a:last-child {
		border-right: none;	
	}

	header nav#MembersNav span {
		display: none;
	}

	header nav#MembersNav #MembersNavLogIn form {
		top: -8px;
		right: 1%;
		background: #f3d93c;
		width: 94%;
		padding: 8px 2%;
		border-radius: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		-o-border-radius: 6px;
		box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.25);
		-webkit-box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.25);
		-o-box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.25);
	}

	footer #FooterContent ul {
		border-bottom: 1px solid #454274;
		margin-bottom: 8px;
		padding-bottom: 8px;
	}

	footer #FooterContent ul.first li {
		float: left;
		width: 100%;
		border-right: none;
	}

	footer #FooterContent ul li {
		float: left;
		width: 48%;
		border-right: none;
		margin: 0;
	}

	footer #FooterContent ul.first li a {
		padding: 0;
	}

	footer #FooterContent ul li a {
		display: block;
		padding: 8px;
		text-align: center;
	}

	footer #FooterContent ul li.first {
		float: left;
		width: 100%;
		border-right: none;
	}


	h1 {
		font-size: 38px;
		line-height: 38px;
	}

	article .mainFeature h2 {
		line-height: 28px;
	}

	article .mainFeature,
	article .highlightContent {
		padding: 20px;
	}

	article #BBCWeather {
		width: 100%;
		overflow: hidden;
		text-align: center;
	}

}
