html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

.clear:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}
 
.clear {
   display: inline-block;
}
 
html[xmlns] .clear {
   display: block;
}
 
* html .clear {
   height: 1%;
   overflow: visible;
}


body {
	color: #1d1b40;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	background: #e9e6e6 url('../images/core/page_bkg.gif') repeat top left;
}

input,
select {
	border: 1px solid #ccc;
	padding: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #1d1b40;
}

a {
	outline: none;
	color: #0567a0;
	text-decoration: none;
}

a:hover {
	color: red;
}

input.button,
button.button,
a.button {
	background: #1d1b40;
	color: #fff;
	font-size: 16px;
	padding: 10px 25px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
}

input:hover.button,
button:hover.button,
a:hover.button {
	background: #454274;
}

/* HEADER */
header {
	width: 100%;
	background: #3b3869 url('../images/core/header_bkg.gif') repeat-x bottom left;
	padding: 0 0 6px 0;
}

header #HeaderContent {
	width: 960px;
	margin: 0 auto;
	padding: 15px 0;
	position:  relative;
}

header #HeaderContent img#LogoText {
	position: relative;
	top: -6px;
}

/* HEADER -> Main Nav */

header nav#MainNav {
	width: 100%;
	margin: 0;
	padding: 3px 0 0 0;
	background: #1c193e url('../images/core/nav_bkg.gif') repeat-x top left;
}

header nav#MainNav ul {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

header nav#MainNav ul li {
	margin: 0 0 0 -4px;
	padding: 0;
	list-style-type: none;
	text-align: center;
	display: inline-block;
}

header nav#MainNav ul li a {
	display: inline-block;
	margin: 0;
	padding: 13px 12px;
	list-style-type: none;
	text-align:  center;
	font-size: 14px;
	font-weight:  bold;
	color:  #fff;
	background: url('../images/core/nav_sep.gif') no-repeat bottom right;
}

header nav#MainNav ul li.last a {
	background: none;
}

header nav#MainNav ul li.selected a,
header nav#MainNav ul li.selected a:hover {
	background: #454274;
	color: #fff;
}

/* HEADER -> Members Nav */

header nav#MembersNav {
	float: left;
	display: inline;
	position: absolute;
	z-index: 2;
	top: 12px;
	right: 0;
	background: #454274;
	padding: 6px 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
}

header nav#MembersNav span {
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	margin: 8px 14px 0 0;
	float: left;
	display: inline;
}

header nav#MembersNav button {
	float: left;
	display: inline;
	font-size: 12px;
	color: #1d1b40;
	background: #f3d93c;
	padding: 6px 10px;
	margin: 0;
	font-weight: bold;
	border: none;
	cursor: pointer;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
}

header nav#MembersNav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	display: inline;
}

header nav#MembersNav ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	float: left;
	display: inline;
}

header nav#MembersNav ul li a {
	float: left;
	display: inline;
	margin: 8px 8px 0 0;
	padding: 0 8px 0 0;
	list-style-type: none;
	font-size: 12px;
	color:  #fff;
	border-right: 1px solid #fff;
}

header nav#MembersNav #MembersNavLogIn {
	position: relative;
	width: 100%;
	float: left;
	display: inline;
}

header nav#MembersNav #MembersNavLogIn form {
	position: absolute;
	top: -4px;
	right: 0px;
	background: #f3d93c;
	width: 280px;
	padding: 14px;
	font-size: 12px;
	float: right;
	display: none;
	border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	-webkit-border-radius: 6px 0 6px 6px;
	-o-border-radius: 6px 0 6px 6px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

header nav#MembersNav #MembersNavLogIn form label {
	width: 80px;
	display: inline-block;
	margin-bottom: 8px;
}

header nav#MembersNav #MembersNavLogIn form input#OnlineBookingUsername,
header nav#MembersNav #MembersNavLogIn form input#OnlineBookingPassword {
	width: 186px;
	display: inline;
	margin-bottom: 8px;
}

header nav#MembersNav #MembersNavLogIn form input.button {
	font-size: 12px;
	padding: 6px 12px;
	float: right;
}

header nav#MembersNav #MembersNavLogIn form #MembersNavClose {
	font-size: 12px;
	font-weight: normal;
	float: right;
}

/* HEADER -> Social Media */
header #SocialMedia {
	position: absolute;
	z-index: 1;
	top: 68px;
	right: 0;
}

header #SocialMedia #Header-SocialMedia-Facebook { float: left; display: block; margin-left: 4px; }
header #SocialMedia #Header-SocialMedia-Twitter { float: left; display: block; width: 55px; overflow: hidden; margin-left: 4px; }
header #SocialMedia #Header-SocialMedia-Google { float: left; display: block; }

/* HEADER -> Hover and selected state */

header nav#MainNav ul li a:hover,
header nav#MembersNav ul li a:hover {
	color: #f3d93c;
}

/* FOOTER */

footer {
	width: 100%;
	background: #1e1c3f url('../images/core/footer_bkg.gif') repeat-x top left;
	padding: 8px 0;
	margin: 0;
	color: #fff;
	font-size: 11px;
}

footer #FooterContent {
	width: 960px;
	margin: 0 auto;
	padding: 15px 0;
	text-align: center;
}

footer #FooterContent ul {
	margin: 0 auto 4px auto;
	padding: 0;
	list-style-type: none;
	display: block;
}

footer #FooterContent ul.first {
	margin-bottom: 12px;
}

footer #FooterContent ul li {
	margin: 0 6px 0 -4px;
	padding: 0 6px 0 0;
	list-style-type: none;
	text-align: center;
	display: inline;
	border-right: 1px solid #fff;
}

footer #FooterContent ul li.first {
	border: none;
	font-weight: bold;
	margin: 0 8px 0 0;
	padding: 0;
}

footer #FooterContent ul li.last {
	border: none;
	margin: 0;
	padding: 0;
}

footer #FooterContent ul li a {
	display: inline;
	margin: 0;
	padding: 0;
	list-style-type: none;
	color:  #fff;
}

/* FOOTER -> Hover state */

footer #FooterContent a:hover {
	color: #f3d93c;
}

/* MAIN PAGE CONTENT */

h1 {
	font-size: 48px;
	line-height: 48px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -2px;
	word-spacing: 0.15em;
	margin-bottom: 16px;
}

h2 {
	font-size: 24px;
	line-height: 24px;
	font-weight: normal;
	margin-bottom: 16px;
}

p {
	line-height: 20px;
	margin-bottom: 16px;
}

article {
	width: 960px;
	margin: 0 auto;
	padding: 25px 0;
}

article .mainFeature {
	width: 960px;
	height: 413px;
	margin-bottom: 40px;
	position: relative;
	background: url('../images/core/feature_bkg.gif') repeat top left;
}

article .mainFeature .mainFeatureContent {
	width: 370px;
	position: absolute;
	top: 40px;
	left: 542px;
}

article .mainFeature .mainFeatureImages {
	position: absolute;
	float: left;
	display: inline;
	background: url('../images/core/feature_img_frame.jpg') no-repeat top left;
	width: 439px;
	height: 440px;
	top: -18px;
	left: 36px;
}

article .mainFeature .mainFeatureImages img {
	margin: 36px 51px;
}

article .largeCol {
	float: left;
	display: inline;
	width: 600px;
	background: red;
}

article .smallCol {
	float: left;
	display: inline;
	width: 360px;
	background: blue;
}

@media only screen and (max-width: 970px) {

}

@media only screen and (max-width: 850px) {

}

@media only screen and (max-width: 765px) {

}


@media only screen and (max-width: 645px) {

}


@media only screen and (max-width: 620px) {

}

@media only screen and (max-width: 485px) {

}