button,
input[type='button'],
input[type='submit'] {
	width:auto;
   	overflow:visible;
}

header nav#MainNav ul li,
header nav#MainNav ul li a,
header nav#MembersNav #MembersNavLogIn form label {
	display: inline;
	zoom: 1;
}

header nav#MembersNav #MembersNavLogIn form {
	top: 30px;
}

header nav#MainNav ul li {
	margin: 0;
}

footer #FooterContent ul li {
	padding-right: 4px;
	margin-right: 10px;
}

footer #FooterContent ul li.first {
	margin-right: 10px;
}