button,
input[type='button'],
input[type='submit'] {
	width:auto;
   	overflow:visible;
}

#Header #MainNav ul li,
#Header #MainNav ul li a,
#Header #MembersNav #MembersNavLogIn form label {
	display: inline;
	zoom: 1;
}

#Header #MembersNav #MembersNavLogIn form {
	top: 30px;
}

#Header #MainNav ul li {
	margin: 0;
}

#Footer #FooterContent ul li {
	padding-right: 4px;
	margin-right: 10px;
}

#Footer #FooterContent ul li.first {
	margin-right: 10px;
}